*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
}
#main{
    height: 100vh;
   
    
 
    
    
}

.center{
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

 
header{
    padding: 30px 0;
    background: #fff;
    
}
#header-main{
    max-width: 1150px;
    justify-content: space-between;
}
#logo{
    text-transform: uppercase;
    color:#555560;
    
    font-weight: 800;
}
nav a{
    text-decoration: none;
    
    color: #777;
    padding: 20px;
}
nav a:hover{
    color:#bfba55;
}
#home{
    height: calc(100% - 83px);
    background: url(../img/home-bg.jpg) center/cover no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
    
}
    
 #home-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.75;
    z-index: 1;
 }   
    

#home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    z-index: 2;
}
#home-content h1{
    font-size: 64px;
    color: #ffffff;
    
}
#home-content p{
    color:#bfba55;
    margin: 20px 0 40px 0;
}
#home-content button{
    padding: 17px 25px;
    text-transform: uppercase;
    background: #fff;
    color: #777;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}

#content{
    max-width: 950px;
    margin-top: 115px
}

#content img{
    width: 950px;
    
}
.box h2{
    margin-top: 20px;
    letter-spacing: normal;
}
.description{
    display: flex;
    margin: 10px  0;
    align-items: center; 
    
}
.description p {
    margin: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: normal;
    color: #000;
    font-size: 18px;
}
.description p:last-child{
    margin-left: 0;
}
.description p:nth-child(3){
    margin-right: 20px;
}
.description img {
    max-width: 40px;
    border-radius: 25px;
}
.box > p{
    letter-spacing: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #777;
    font-size: 18px;
    margin:25px 0 15px 0;
}
.box button{
    margin-top: 20px;
    padding: 20px 30px;
    letter-spacing: 1px;
    background: #fff;
    color: #777;
    border: 1px solid #777;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}
hr{
    border: none;
    width: 950px;
    margin: 60px 0 80px 0;
    background: #777;
    height: 1px;
    opacity: 0.2;
}

footer{
    margin-top: 115px;
    background: #000;
}
#footer-main{
    max-width: 950px;
    color: #fff;
    padding: 100px 0 90px 0;
    justify-content:space-between;
    
}
#footer-main div {
    width: 40%;
}
#footer-main h2{
    text-transform: uppercase;
}
#footer-main p {
    color:#777;
    margin-top:25px;
}