$header-font:'Hind', sans-serif;
$content-font:'Source Sans Pro', sans-serif;
$font-color: #2c2f3c;
$body-background:#fff;
$font-color-white: #fff;
$footer-font-color:#c0c3ce;
$button-background:#699900;
$header-background:url("../img/m-h-day.jpg") center/cover no-repeat;
$before-color:#14a0c7;
$section-background:#fff;
$content-background: #21232e;
$banner-background:linear-gradient(45deg, #689802 0%, #2B59DD 100%);
$footer-background:#21232e;
$radius:10px