$header-font:'Hind', sans-serif;
$content-font:'Source Sans Pro', sans-serif;
$font-color: #fff;
$body-background:#21232e;
$font-color-white: #fff;
$footer-font-color:#c0c3ce;
$button-background:#e3ac00;
$header-background:url("../img/m-h-night.jpg") center/cover no-repeat;
$before-color:#ff4e33;
$section-background:#21232e;
$content-background: #3b3f50;
$banner-background: linear-gradient(to right, #DEA404 0%, #942e51 100%);
$footer-background:#3b3f50;
$radius:10px